
<!DOCTYPE HTML>
<html>
<head>
<title>管理员界面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.useso.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href="../medias/models/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="../medias/js/jquery.min.js"></script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
<div class="wrapper">
	<div class="logo">
		<a href="#"><img src="../medias/imagesHome/logo.png" alt=""/> </a>
	</div>
	<div class="menu">
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
			<li><a href="/admin_course/">课程信息</a>
			</li>
			<li><a href="/admin_score/">成绩信息</a>
                        </li>
			<li><a href="/admin_contro/">选课系统控制</a></li>
			<li><a href="/admin_logout/">用户注销</a></li>
		</ul>
		</div>
		<div class="clear"></div>
	 <script type="text/javascript" src="../medias/js/script.js"></script>
	<div class="clear"></div>
	<div class="banner">
		<h2 class="style">教务处管理员管理界面</h2>
		<p class="para">Start Your Managing Now！</p>
	</div>
</div>
</div>
</div>
<!-- start content -->
<div class="content_bg">
<div class="wrap">
<div class="wrapper">
	<div class="main">
	<div class="span1_of_1 left">
		<!-- start slider-text -->
		<div class="our-mission" id="team">
        		 <div id="ca-container" class="ca-container">
				<div class="ca-wrapper">
					<div class="ca-item ca-item-1">
						<div class="ca-item-main">
							<h4>
								<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/11-08/2242850111RL0.htm target='_blank'>创业梦想从这里起航——哈工大大学生创业园第三次入园答辩评审会成功举办</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
							</h4>
						</div>
					</div>
					<div class="ca-item ca-item-2">
						<div class="ca-item-main">
							<h4>
								<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/11-06/2334818111RL0.htm target='_blank'>2016年爱因斯特海外实习项目宣讲会通知</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
							</h4>
						</div>
					</div>
					<div class="ca-item ca-item-3">
						<div class="ca-item-main">
							<h4>
						<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/11-07/3423727111RL0.htm target='_blank'>“四海齐颂价值观，九天共舞中国梦”管理学院支部大舞台文艺汇演圆满落幕</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
									</h4>
						</div>
					</div>
					<div class="ca-item ca-item-4">
						<div class="ca-item-main">
							<h4>
							<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/11-06/9471931211RL0.htm target='_blank'>【标杆讲坛】第四期 “如何端正入党动机”讨论</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
								</h4>
						</div>
					</div>
					<div class="ca-item ca-item-5">
						<div class="ca-item-main">
							<h4>
						<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/11-04/9781030111RL0.htm target='_blank'>哈尔滨工业大学第十七届环保时装秀暨市政学院支部大舞台活动预告</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
									</h4>
						</div>
					</div>
					<div class="ca-item ca-item-6">
						<div class="ca-item-main">
							<h4>
							<span><img src="../medias/imagesHome/quote.png"></span>
								<span><a href=http://today.hit.edu.cn/news/2015/10-30/1242407101RL0.htm target='_blank'>哈工大宝洁菁英俱乐部互联网求职创业分享会重磅来袭</a></span>
								<span class="quote"><img src="../medias/imagesHome/quote1.png"></span>
								</h4>
						</div>
					</div>
				</div>
		</div>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src="../medias/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../medias/js/jquery.easing.1.3.js"></script>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src="../medias/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="../medias/js/jquery.contentcarousel.js"></script>
		<script type="text/javascript">
				$('#ca-container').contentcarousel();
		</script>
	</div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
	<!-- end slider-text -->
	</div>
	<div class="span1_of_2">
		<h4 class="style">管理员请注意：</h4>
		<p class="para1">一、请各位管理员尽快录入学生成绩信息。 </p>
		<p class="para1">二、请各位管理员继续完善课程资料。</p>
	</div>
	<div class="clear"></div>
	</div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_bg1">
<div class="wrap">
<div class="wrapper">
<div class="clear">
	
		<div class="grid1_of_2">
		
			<div class="f_grid2 left">
			<ul class="f_nav">
				<li><a href="">疑难问题解决</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left">
			
			<ul class="f_nav">
				<li><a href="">宝贵意见</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left hide">
			
			<ul class="f_nav">
				<li><a href="">联系我们</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left hide">
			
			<ul class="f_nav">
				<li><a href="">更多</a></li>
				
			</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</div>
</div>
</div>
</body>
</html>