<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>管理员注销</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../../medias/models/main2_0.css" rel="stylesheet" />

</head>
<body>
<ul class="s-skin-container" id="bg-container">
  <li id="bg8" class="" style="background-image: url(../../medias/images/003.jpg); display: list-item; z-index: 10;" desc="" link=""></li>
</ul>
<div class="wrapper">
  <div class="logo-bar">  <h1>管理员注销成功！</h1> </div>
  
<div class="foot">
  <div class="footer-nav-box">
    <div class="footer-nav">
      <div class="copyright">&copy;Harbin Institute of Technology. All rights reserved.</div>
      <p><a href="/admin_login/">返回登陆页面</a></p>
    </div>
  </div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>