
<!DOCTYPE HTML>
<html>
<head>
<title>选课控制</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="../medias/models/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="../medias/models/globals.css" />
    <link rel="stylesheet" type="text/css" href="../medias/models/commons.css" />
    <link rel="stylesheet" type="text/css" href="../medias/models/plugins.css" />
 <!-- END General Styles -->
<link href='http://fonts.useso.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href="../medias/models/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="../medias/js/jquery.min.js"></script>

<script>
function myFunction_open()
{
alert("选课系统已开启!");
}
function myFunction_close()
{
alert("选课系统已关闭!");
}
</script>

</head>
<body>
<!-- start header -->
<div class="header_bg1">
<div class="wrap">
<div class="wrapper">
	<div class="logo">
		<a href=/admin_home/><img src="../medias/imagesHome/logo.png" alt=""/> </a>
	</div>
	<div class="menu">
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
			
			<li><a href="/admin_course/">课程信息</a>
			</li>
			<li><a href="/admin_score/">成绩信息</a>
                        </li>
			<li><a href="/admin_contro/">选课系统控制</a></li>			
			<li><a href="/admin_logout/">用户注销</a></li>
		</ul>
		</div>
		<div class="clear"></div>
	 <script type="text/javascript" src="../medias/js/script.js"></script>
         <div class="logo1">
		<a href="#"><img src="../medias/imagesHome/user.png" alt=""/> </a>
	</div>
 	<div class="welcome">
                  
		<p>admin你好！</p>
                   
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start content -->
<div class="content_bg">
<div class="wrap">
<div class="wrapper">
<form action="/admin_contro/" method="POST">
	<div class="main">
           <div class="gallery">
	  <h3 class="style1">选课控制：</h3>
			<div class="details">
			
			<div class="det_pic">
                             <hr/>
			     <div class="header_bg11">
               <table width="100%"  cellpadding="0" cellspacing="0" style="border-collapse:collapse" class="bot_line">
               <tr>
                  <th width="7%"><font color="#FFFFFF"></font></th>
                  <th width="20%"><font color="#FFFFFF">选课系统状态</font></th>
                  <th width="15%"><font color="#FFFFFF"></font></th>
                  <th width="15%"><font color="#FFFFFF"></font></th>
                  <th width="25%"><font color="#FFFFFF"></font></th>
                  <th width="10%"><font color="#FFFFFF">操作</font></th>
		          <th width="8%"></th>
                </tr>			
                </table>        	  
			</div>
             <hr/>           
			<div class="det_text">
			

           
		        <table width="100%"  cellpadding="0" cellspacing="0" style="border-collapse:collapse" class="bot_line">
               
		        <tr>
                  <th width="7%"></th>
                  <th width="20%">
				  {% if f %}
				  <font color="#FF0000">开启</font>
				  {% else %}
				  <font color="#FF0000">关闭</font>
				  {% endif %}
				  </th>
                  <th width="15%"></th>
                  <th width="15%"></th>
                  <th width="25%"></th>
                  <th width="10%">
				  
				  {% if f %}
				  <input type="submit" value="关闭" name="op" onclick="myFunction_close()"/>
				  {% else %}
				  <input type="submit" value="开启" name="op" onclick="myFunction_open()"/>
				  {% endif %}
				  </th>
                  <th width="8%"></a></th>
                </tr>
				
                </table>
				<hr/>
		   
                
                

			<div class="clear"></div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</form>
</div>
<!-- start footer -->
<div class="footer_bg">
<div class="clear">
	
		<div class="grid1_of_2">
		
			<div class="f_grid2 left">
			<ul class="f_nav">
				<li><a href="">疑难问题解决</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left">
			
			<ul class="f_nav">
				<li><a href="">宝贵意见</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left hide">
			
			<ul class="f_nav">
				<li><a href="">联系我们</a></li>
				
			</ul>
			</div>
			<div class="f_grid2 left hide">
			
			<ul class="f_nav">
				<li><a href="">更多</a></li>
				
			</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</div>
</body>
</html>